@import url('https://fonts.googleapis.com/css2?family=Space+Mono');

*{
  //font-family: 'Space Mono';
  color: #0f0;
}

ul{
  list-style: none;
}

li{
  font-size: 200%;
  color: #0f0;
}

a {
  color: #0f0;

  &:link {
    text-decoration: none;
  }

  &:hover {
    color: #0f0;
    text-decoration: underline;
  }

  &:active {
    text-decoration: underline;
  }
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;

  &:hover {
    text-decoration: underline;
  }
  &:disabled{
    text-decoration: line-through;
    color: grey;

  }
}

.vm--modal.vm--modal{
  background-color: black;
  box-shadow: none;
  border-style: solid;
  border-width: 1px;
  border-color: lime;
  border-radius: 0px;
}

.box.box{
  padding-top: 30px;
}